h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.navbar,
.brand,
a,
.td-name,
td,
button,
input,
select,
textarea {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  font-weight: 400;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  margin: 30px 0 0;
}

h1,
.h1 {
  font-size: 3.6em;
}

h2,
.h2 {
  font-size: 2.8em;
}

h3,
.h3 {
  font-size: 1.825em;
  line-height: 1.4;
  margin: 20px 0 0px;
}

h4,
.h4 {
  font-size: 1.6em;
  line-height: 1.2em;
}

h5,
.h5 {
  font-size: 1.35em;
  line-height: 1.4em;
}

h6,
.h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5em;
}

p {
  font-size: 15px;
  line-height: 1.5em;
  margin-bottom: 5px;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  color: #808e9b;
  line-height: 1.5em;
}

h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
  font-size: 60%;
}

.title,
.card-title,
.info-title,
.footer-brand,
.footer-big h5,
.footer-big h4,
.media .media-heading {
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}

.title,
.title a,
.card-title,
.card-title a,
.info-title,
.info-title a,
.footer-brand,
.footer-brand a,
.footer-big h5,
.footer-big h5 a,
.footer-big h4,
.footer-big h4 a,
.media .media-heading,
.media .media-heading a {
  color: #1e272e;
  text-decoration: none;
}

.title-uppercase {
  text-transform: uppercase;
}

.description {
  color: #808e9b;
}

blockquote small {
  font-style: normal;
}

.text-muted {
  color: #d2dae2;
}

.text-primary,
.text-primary:hover {
  color: #51cbce !important;
}

.text-info,
.text-info:hover {
  color: #51bcda !important;
}

.text-success,
.text-success:hover {
  color: #6bd098 !important;
}

.text-warning,
.text-warning:hover {
  color: #fbc658 !important;
}

.text-danger,
.text-danger:hover {
  color: #f5593d !important;
}

.footer .credits,
.footer-nav {
  line-height: 85px;
}

.footer .btn {
  margin-bottom: 0;
}

.title {
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px;
}

.title.text-center {
  margin-bottom: 50px;
}

/*     General overwrite     */
body {
  color: #1e272e;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}

a {
  color: #51bcda;
}

a:hover,
a:focus {
  color: #2ba9cd;
  text-decoration: none;
}

hr {
  border-color: #f1eae0;
}

.icon {
  fill: #1e272e;
}

.fa-base {
  font-size: 1.25em !important;
}

a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0;
}

/*           Animations              */

.fa {
  width: 18px;
  text-align: center;
}

.margin-top {
  margin-top: 50px;
}

.btn {
  box-sizing: border-box;
  border-width: 2px;
  font-size: 12px;
  font-weight: 600;
  padding: 0.5rem 18px;
  line-height: 1.75;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #1e272e;
  border-color: #1e272e;
  color: #f5f6fa;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}

.btn.btn-border,
.btn.btn-link {
  background-color: transparent;
}

.btn:hover {
  background-color: #485460;
  color: #f5f6fa;
  border-color: #485460;
}

.btn .caret {
  border-top-color: #f5f6fa;
}

.btn.btn-link {
  color: #1e272e;
}

.btn.btn-link:hover,
.btn.btn-link:focus,
.btn.btn-link:active,
.btn.btn-link.active,
.open > .btn.btn-link.dropdown-toggle {
  background-color: transparent;
  color: #485460;
}

.btn.btn-link .caret {
  border-top-color: #1e272e;
}

.btn .caret {
  border-top-color: #f5f6fa;
}

.btn:hover,
.btn:focus {
  outline: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:active,
.btn.active,
.open > .btn.dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}

.btn[class*="btn-outline-"] {
  background-image: none;
  background-color: transparent;
}

.btn-round {
  border-radius: 30px;
}

.btn-lg {
  font-size: 14px;
  padding: 11px 30px;
}

.form-control::-moz-placeholder {
  color: #d2d2d2;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control:-moz-placeholder {
  color: #d2d2d2;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control::-webkit-input-placeholder {
  color: #d2d2d2;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control:-ms-input-placeholder {
  color: #d2d2d2;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control {
  background-color: #f5f6fa;
  border: 1px solid #d2dae2;
  border-radius: 4px;
  color: #1e272e;
  font-size: 14px;
  padding: 7px 12px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  background-color: #f5f6fa;
  border: 1px solid #808e9b;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}

.form-control.no-border {
  border: medium none !important;
}

.open .form-control {
  border-radius: 4px 4px 0 0;
  border-bottom-color: transparent;
}

.input-group.input-group-focus .input-group-addon {
  border-color: #808e9b;
}

.form-control,
.input-group-addon {
  transition: 0.3s ease-in-out;
}

.input-group.has-error .input-group-addon {
  border-color: #e74c3c;
}

.input-group.has-error .form-control {
  border-color: #e74c3c;
}

.form-control.has-error {
  border-color: #e74c3c;
}

.form-control:focus + .input-group-addon {
  background-color: #fff !important;
}

.form-control:focus {
  background-color: #fff;
}

.input-group:not(.has-error) .form-control:focus + .input-group-addon {
  border-color: #1e272e;
}

.input-group:not(.has-error) .form-control:focus {
  border-color: #1e272e;
}

.input-group:not(.has-error) .form-control:hover + .input-group-addon {
  border-color: #808e9b;
}

.input-group:not(.has-error) .form-control:hover {
  border-color: #808e9b;
}

.input-lg {
  height: 55px;
  padding: 11px 30px;
}

.input-group-addon {
  background-color: #f5f6fa;
  border-radius: 4px;
}

.input-group-addon.no-border {
  border: medium none !important;
}

.form-control:focus + .input-group-addon,
.form-control:focus ~ .input-group-addon {
  background-color: #f5f6fa;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-right: 0 none;
  padding-right: 0;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child) {
  border-left: 0 none;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #e3e3e3;
  color: #1e272e;
  cursor: not-allowed;
}

.input-group[disabled] .input-group-addon {
  background-color: #e3e3e3;
  cursor: not-allowed;
  border-color: #d2dae2;
}

.input-group-btn .btn {
  border-width: 1px;
  padding: 9px 18px;
}

.input-group-btn .btn-default:not(.btn-fill) {
  border-color: #d2dae2;
}

.input-group-btn:last-child > .btn {
  margin-left: 0;
}

textarea.form-control {
  padding: 10px 18px;
  height: auto;
}

.form-group {
  position: relative;
}

.register-form .form-control {
  border: 1px solid transparent !important;
}

#inputs .input-group {
  margin-bottom: 1rem;
}

.card-form-horizontal .card-body .form-group {
  margin-bottom: 0;
}

.form-group-no-border .form-control,
.form-group-no-border .input-group-addon {
  border: 0 !important;
}

.register-form .input-group .input-group-addon {
  padding-right: 2px;
}

.register-form .input-group .form-control {
  margin-left: -1px;
}

.progress {
  background-color: #d2dae2;
  border-radius: 3px;
  box-shadow: none;
  height: 8px;
}

.progress-thin {
  height: 4px;
}

.progress-bar {
  background-color: #51cbce;
}

.progress-bar-primary {
  background-color: #51cbce;
}

.progress-bar-info {
  background-color: #51bcda;
}

.progress-bar-success {
  background-color: #6bd098;
}

.progress-bar-warning {
  background-color: #fbc658;
}

.progress-bar-danger {
  background-color: #f5593d;
}

.progress-bar-black {
  background-color: #1e272e;
}

.progress-bar-blue {
  background-color: #0089ef;
}

.progress-bar-purple {
  background-color: #68217a;
}

.progress-bar-orange {
  background-color: #fa8231;
}

.progress-bar-yellow {
  background-color: #f7b731;
}

.progress-bar-red {
  background-color: #dd0031;
}

.progress-text-left {
  text-align: left;
}

.progress-text-right {
  text-align: right;
}

.progress-bar-text {
  font-size: x-large;
  position: relative;
  top: 7px;
}

.progress-text-left > .progress-bar-text {
  left: 10px;
}

.progress-text-right > .progress-bar-text {
  right: 10px;
}

.section {
  padding: 40px 0;
  position: relative;
  background-color: #f5f6fa;
  transition: 0.3s ease-in-out;
}

.section-with-space {
  padding: 60px 0;
}

.section-gray {
  background-color: #808e9b;
}

.section-gray .title {
  color: #f5f6fa;
}

.section-success {
  color: #f5f6fa;
  background-color: #2ecc71;
}

.section-dark {
  background-color: #1e272e;
}

.section-image,
.section-gold,
.section-dark {
  position: relative;
}

.section-image .title,
.section-image .info-title,
.section-image .card-plain .card-title,
.section-gold .title,
.section-gold .info-title,
.section-gold .card-plain .card-title,
.section-dark .title,
.section-dark .info-title,
.section-dark .card-plain .card-title {
  color: #f5f6fa;
}

.section-image .category,
.section-image .description,
.section-image .card-plain .card-description,
.section-image .card-plain .card-category,
.section-gold .category,
.section-gold .description,
.section-gold .card-plain .card-description,
.section-gold .card-plain .card-category,
.section-dark .category,
.section-dark .description,
.section-dark .card-plain .card-description,
.section-dark .card-plain .card-category {
  color: rgba(255, 255, 255, 0.7);
}

.section-image hr,
.section-gold hr,
.section-dark hr {
  border-color: rgba(255, 255, 255, 0.19);
}

.page-header .title,
.page-header .info-title,
.carousel-caption .title,
.carousel-caption .info-title {
  color: #f5f6fa;
}

[class*="features-"],
[class*="team-"],
[class*="projects-"],
[class*="pricing-"],
[class*="testimonials-"],
[class*="contactus-"] {
  padding: 80px 0;
}

.section-image {
  background-position: center center;
  background-size: cover;
}

.section-image:before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.section-image .container {
  position: relative;
  z-index: 2;
}

.section-login {
  min-height: 700px;
}

.img-avatar {
  height: 250px;
  width: 250px;
}

.img-rounded {
  border-radius: 12px;
  transition: opacity 0.5s ease 0s;
  max-width: 100%;
}

.img-details {
  min-height: 50px;
  padding: 0 4px 0.5em;
}

.img-details img {
  width: 50px;
}

.img-details .author {
  margin-left: 10px;
  margin-top: -21px;
  width: 40px;
}

.img-circle {
  background-color: #f5f6fa;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 50% !important;
  max-width: 100%;
}

.img-thumbnail {
  border: 0 none;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(164, 158, 147, 0.6);
  margin-bottom: 10px;
}

.img-no-padding {
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .img-padding-l {
    padding-right: 0px !important;
    padding-left: 40px !important;
  }

  .img-padding-r {
    padding-left: 0px !important;
    padding-right: 40px !important;
  }
}

@media screen and (min-width: 1200px) {
  .img-padding-lg {
    padding: 75px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .img-padding-lg {
    padding: 55px;
  }
}

@media screen and (max-width: 991px) {
  .img-padding-lg {
    padding: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .img-padding {
    padding: 25px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .img-padding {
    padding: 15px;
  }
}

.example-page .img-rounded {
  margin: 50px 0 20px;
}

.img-shadow {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.images-title {
  margin-bottom: 20px;
  height: 50px;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f5f6fa;
  color: #1e272e;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  border: 0 none;
  cursor: default;
  min-height: 351px;
}

.card .title {
  color: #1e272e;
}

.card .description {
  padding: 10px;
  color: #808e9b;
}

.card.card-plain {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}

.card .card-footer {
  padding: 15px;
  background: transparent;
  border-top: 0 none;
}

.card .card-footer .social-line .btn:first-child {
  border-radius: 0 0 0 6px;
}

.card .card-footer .social-line .btn:last-child {
  border-radius: 0 0 6px 0;
}

.card .card-body .card-footer {
  padding: 0;
}

.card .card-body .card-description + .card-footer {
  padding-top: 10px;
}

.card.no-transition:hover,
.card.card-technology:hover,
.card.page-carousel:hover {
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  transform: none;
  -webkit-transform: none;
  -ms-transform: none;
  -moz-transform: none;
}

.section-dark .card-profile.card-plain .card-title {
  color: #f5f6fa !important;
}

.section-dark .card-profile.card-plain .card-description {
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 1025px) {
  .input-group .input-group-addon {
    padding-right: 10px;
  }
}

@media screen and (max-width: 324px) {
  .section .container nav {
    overflow: auto;
  }
}

.page-header {
  background-color: #b2afab;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header .filter::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.page-header .motto {
  text-align: left;
  z-index: 3;
  color: #fff;
  position: relative;
}

.section-buttons {
  z-index: 1;
}

.team-player .img-circle,
.team-player .img-thumbnail {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

.contact-form {
  margin-top: 30px;
}

.contact-form label {
  margin-top: 15px;
}

.contact-form .btn {
  margin-top: 30px;
}

.navbar-relative {
  position: relative;
  z-index: 2;
}

#register-navbar a {
  color: #fff;
}

.register-background .container {
  margin-top: 11%;
  position: relative;
  z-index: 3;
}

.register-footer {
  bottom: 20px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: transparent;
  color: #f5f6fa;
}

.register-footer .fa-heart {
  color: #eb5e28;
}

.register-card label {
  margin-top: 15px;
}

.register-card .title {
  color: #b33c12;
  text-align: center;
}

.register-card .btn {
  margin-top: 30px;
}

.register-card .forgot {
  text-align: center;
}

.profile-content {
  position: relative;
}

.owner {
  text-align: center;
}

.owner .avatar {
  padding: 15px;
  max-width: 180px;
  margin: -85px auto 0;
  display: inline-block;
}

.owner .name h4 {
  margin-top: 10px;
}

.profile-tabs {
  margin: 50px 0;
  min-height: 300px;
}

#following h3 {
  margin: 20px 0 40px 0;
}

#follows .follows .unfollow .checkbox {
  margin-top: -15px;
}

#follows .follows h6 {
  margin-top: 15px;
}

.follows hr {
  margin-top: 10px;
}

.title-brand {
  max-width: 730px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: #f5f6fa;
  display: block;
}

.title-brand .type {
  position: absolute;
  font-size: 20px;
  background: #132026;
  padding: 6px 10px;
  border-radius: 4px;
  top: 0;
  font-weight: 600;
  margin-top: 10px;
  right: -15px;
}

.presentation-title {
  font-size: 8em;
  font-weight: 700;
  margin: 0;
  color: #f5f6fa;
  background: #fbf8ec;
  background: -moz-linear-gradient(top, #f5f6fa 35%, #4e6773 100%);
  background: -webkit-linear-gradient(top, #f5f6fa 35%, #4e6773 100%);
  background: -ms-linear-gradient(top, #f5f6fa 35%, #4e6773 100%);
  background: linear-gradient(to bottom, #f5f6fa 35%, #4e6773 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.presentation-subtitle {
  font-size: 1.7em;
  color: #f5f6fa;
}

.category-absolute {
  position: absolute;
  text-align: center;
  top: 100vh;
  margin-top: -60px;
  padding: 0 15px;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
}

.category-absolute .creative-tim-logo {
  max-width: 140px;
  top: -2px;
  left: 3px;
  position: relative;
}

.fog-low {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: -35%;
  margin-bottom: -50px;
  width: 110%;
  opacity: 0.85;
}

.fog-low img {
  width: 100%;
}

.fog-low.right {
  margin-left: 30%;
  opacity: 1;
}

.page-header .content-center {
  margin-top: 85px;
}

.moving-clouds {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 250.625em;
  height: 43.75em;
  -webkit-animation: cloudLoop 80s linear infinite;
  animation: cloudLoop 80s linear infinite;
}

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

.following img {
  max-width: 70px;
}

.text-white {
  color: white;
}

.nc-icon-lg {
  font-size: 60px !important;
  padding-bottom: 30px;
}

.fa-inherit {
  font-size: inherit;
}

.card-no-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19) !important;
  -webkit-transform: none !important;
}

.card-img-top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-title {
  margin-top: 12px;
}

/* Buttons color */

.btn-alycad {
  background-color: #272361;
  border: none;
}

.btn-alycad:hover {
  background-color: #272361;
  border: none;
  opacity: 0.8;
}

.btn-autoshop {
  background-color: #d65050;
  border: none;
}

.btn-autoshop:hover {
  background-color: #d65050;
  border: none;
  opacity: 0.8;
}

.btn-flighit {
  background-color: #f0ad4e;
  border: none;
}

.btn-flighit:hover {
  background-color: #f0ad4e;
  border: none;
  opacity: 0.8;
}

.btn-mycity {
  background-color: #4c5c96;
  border: none;
}

.btn-mycity:hover {
  background-color: #4c5c96;
  border: none;
  opacity: 0.8;
}

.btn-react {
  background-color: #ef3e36;
  border: none;
}

.btn-react:hover {
  background-color: #ef3e36;
  border: none;
  opacity: 0.8;
}

.btn-regna {
  background-color: #2dc997;
  border: none;
}

.btn-regna:hover {
  background-color: #2dc997;
  border: none;
  opacity: 0.8;
}

.btn-rentme {
  background-color: #9c27b0;
  border: none;
}

.btn-rentme:hover {
  background-color: #9c27b0;
  border: none;
  opacity: 0.8;
}

.btn-sad {
  background-color: #ff8f5e;
  border: none;
}

.btn-sad:hover {
  background-color: #ff8f5e;
  border: none;
  opacity: 0.8;
}

.btn-timetogo {
  background-color: #66696a;
  border: none;
}

.btn-timetogo:hover {
  background-color: #66696a;
  border: none;
  opacity: 0.8;
}

.btn-insertRandom {
  background-color: #2d3436;
  border: none;
}

.btn-insertRandom:hover {
  background-color: #2d3436;
  border: none;
  opacity: 0.8;
}

.btn-wedding {
  background-color: #1abc9c;
  border: none;
}

.btn-wedding:hover {
  background-color: #1abc9c;
  border: none;
  opacity: 0.8;
}

.text-xxl {
  font-size: 2.8em !important;
}

.no-margin {
  margin: 0px 0px 20px 0px;
}

.fa-remake {
  padding: 20px !important;
  font-size: 30px !important;
  width: 30px !important;
  text-align: center !important;
  text-decoration: none !important;
  margin: 5px 2px !important;
  border-radius: 50% !important;
  width: 70px !important;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

.fa-facebook.fa-remake {
  background: #4267b2;
  color: white;
}

.fa-facebook-messenger.fa-remake {
  background: rgb(0, 120, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 120, 255, 1) 0%,
    rgba(0, 198, 255, 1) 100%
  );
  color: white;
}

.fa-instagram.fa-remake {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    180deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
}

.fa-linkedin.fa-remake {
  background: #2867b2;
  color: white;
}

.fa-gitlab.fa-remake {
  background: #fca326;
  color: white;
}

.fa-github.fa-remake {
  background: #211f1f;
  color: white;
}

.fa {
  transition: 0.3s ease-in-out;
}

.img-padding-top-bottom {
  padding: 0 50px;
}

.social-title {
  color: #808e9b;
  transition: 0.3s ease-in-out;
}

.social-link:hover .social-title {
  color: white;
  box-shadow: inset 0 -1px 0 0 white;
}

.social-link:hover .fa-remake {
  color: white !important;
  opacity: 1;
}

/* website colors
blue 1	#D4FBFF		
blue 2	#6DC9F7		
blue 3	#0089EF		
pink 1	#FFD7E5		#f7b731
pink 2	#FA759E		#fa8231
			
outline	#3A2C60		#1e272e
*/

.parallax {
  background-image: url("../img/wallpaper-1.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade 2s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section-dark .description {
  color: #808e9b;
}

.navbar-brand,
.nav-link {
  transition: 0.3s ease-in-out;
}

.contact-link {
  color: #1e272e;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.contact-link h4 {
  display: inline-block;
}

.contact-link:hover,
.contact-link:focus {
  color: #485460;
  cursor: pointer;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 0 #485460;
}

.image-text {
  color: #f5f6fa;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding-bottom: 20px;
}

.image-text .image-small {
  width: 100px;
  height: 100px;
}

.image-text .caption {
  font-size: 20px;
  display: block;
  opacity: 0.7;
}

.count {
  font-size: 40px;
  margin-bottom: 0;
  min-width: 150px;
}

.section.no-p-b {
  padding-bottom: 0;
}
.section.no-p-t {
  padding-top: 0;
}

.section.no-p-b .title {
  margin-bottom: 0;
}
.section.no-p-t .title {
  margin-bottom: 0;
}

.languages {
  position: fixed;
  z-index: 999;
  top: 20px;
  right: 0;
  padding: 10px 20px 10px 0;
  background-color: #1e272e;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: 0.3s ease-in-out;
}

.image-language {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 50%;
  border: 5px solid transparent;
  transition: 0.3s ease-in-out;
}

.image-language:hover:not(.selected) {
  cursor: pointer;
  transform: scale(1.1);
}

.image-language.selected {
  border-color: #f7b731;
}

.translate {
  visibility: visible;
  opacity: 1;
  position: fixed;
  z-index: 999;
  top: 20px;
  right: 0;
  padding: 10px 20px 10px 0;
  background-color: #1e272e;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: 0.3s ease-in-out;
  transform: translateX(200px);
}

.image-translate {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border: 5px solid transparent;
  transition: 0.3s ease-in-out;
}

.image-translate:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
